# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Daniel Pierce
email = dpierce@phdata.io
[core]
	pager = less -FRX
	autocrlf = input
[pull]
	ff = only
[includeIf "gitdir:~/git/cfa/"]
  path = ~/git/cfa/.git-cfa.conf
[alias]
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
[push]
	autoSetupRemote = true
