# This is Git's per-user configuration file.
[user]
name = Daniel Pierce
email = paladin2350@gmail.com
[core]
  pager = less -FRX
	autocrlf = input
[pull]
	ff = only
[includeIf "gitdir:~/git/cfa/"]
  path = ~/git/cfa/.git-cfa.conf
[alias]
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
[push]
	autoSetupRemote = true
[format]
  pretty = %n%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an %ae>%n%B%Creset
[pretty]
  single = format: %Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset
[init]
	defaultBranch = main
[rerere]
	enabled = true
